body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccb;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #0056b3;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #ffa07a;
    color: white;
}

td {
    background-color: #fff;
}

h2 {
    color: #32cd32;
}

p {
    color: #ff4500;
}
